Django<5.1
asgiref
gunicorn
daphne
redis
channels_redis
channels
numpy==1.26.3
django-allauth[socialaccount]
opencv-python
imutils
cmake==3.25.2
dlib==19.24.2
scipy
python-decouple
pygame==2.6.0 
django-cors-headers

